* {
  box-sizing: border-box;
  margin: 0 auto;
  /* width: 100%; */
}

/* custom sizes for each article on the page */
article {
  margin-top: 50px;
  margin-bottom: 50px;
}

/* handles the contact ul specifically */
#contact_ol {
  list-style: none;
  text-align: center;
}

/* targets listed items for just the ordered list on the page */
#contact_ol > li {
  display: inline;
  font-size: 20px;
  list-style-type: disc;
}


/* both footer and header are given one sides borders to seperate them from the main body */
footer {
  border-top: 1px solid #fff;
  margin-bottom: 5px;
  padding: 5px 0px 5px 0px;
}

h1, h2, h3 {
  font-family: 'Oswald', sans-serif;
}

header {
  border-bottom: 1px solid #fff;
}

header, footer {
  background-color: #E8E8E8;
  text-align: center;
}

hr {
  width: 50%;
}

/* .icon is a semantic-ui class, this is too change the color */
.icon {
  color: #fff;
}

a:hover, .icon:hover {
  color: gray;
}

img {
  border-radius: 5%;
  margin-bottom: 100px;
  height: 400px;
  width: 400px;
}

/* map is an image and required a different size proportion than the portfolio image */
#map {
  height: 18.75rem;
  width: 31.25rem;
}

main {
  border: 1px solid #fff;
  width: 50%;
}

.panel {
  text-align: center;
}

.panel_info {
  width: 80%;
}

.panel_info > ul {
  padding-left: 0px;
  list-style: none;
}

p {
  font-family: 'Exo 2', sans-serif;
  font-size: large;
}

/* the main page effect for all containers */
.shadow_effect {
  background-color: #000000;
  box-shadow: 0.5em 4px 8px rgba(0,0,0), -0.5em 4px 8px rgba(0,0,0);
  color: #fff;
}

ul, li, ol {
  font-family: 'Roboto', serif;
}

/* utilize the entire screen space on smaller viewports */
@media screen and (max-width:1024px) {
  main {
    width: 100%;
  }
}